.idea
vendor

*~
*.o
*.out
*.lo
*.la
*.log
*.loT
*.gch
*.h.ghc
*.phc
*.dSYM
*.deps
.ci/lemon

.zephir/
.temp/

zephir.phar
zephir-*.phar

ext

boxfile.yml
php_test_results_*.txt
build/gccarch
tests/_data/phalcon_test*
tests/_output/*

.php_cs.cache
.env
zephir